<section class="about" id="about">
  <div class="wrapper">
    <div class="row">
      <div class="col title-block">
        <div class="main__title">
          Описание
        </div>
      </div>
    </div>

    <div class="row about__text">
      <div class="col">
        <p>У пациенток с РМЖ всегда возникают вопросы про само заболевание, про необходимые диагностические процедуры, про виды лечения и показания к ним.</p>

        <p>Мы постарались дать ответы на самые распространенные и важные вопросы в виде статей и видеоматериалов. Помимо этого, любой интересующий Вас вопрос про рак молочной железы Вы можете задать в чате своему личному ассистенту.</p>
        <img src="img/about_img.png" class="about__image" title="#">
        <p>С помощью ведения записей в дневнике симптомов Вы сможете контролировать их динамику, а также общее состояние организма на фоне терапии.</p>
        <img src="img/about_img.png" class="about__image about__image-mobail" title="#">
        <p>Ведение записей в дневнике поможет Вашему лечащему врачу понять выраженность симптомов и вероятных побочных эффектов в динамике с целью дальнейшей коррекции.</p>
        
        <p><strong>Давайте пройдем через все вместе!</strong></p>
      </div>
    </div>


  </div>
</section>