<section class="advantages" id="advantages">
  <div class="wrapper">
    <div class="row">
      <div class="col title-block">
        <div class="main__title">
          Преимущества
        </div>
      </div>
    </div>

    <div class="row advantages__items">
      <div class="col">
        <div class="advantages__item">
          <div class="advantages__item-icon"><img src="img/svg/advantages_consultation.svg" title="#"></div>
          <div class="advantages__item-title">Бесплатная консультация с онкологами</div>
          <p class="advantages__item-text">Получите первичную онлайн консультацию с онкологами Сеченовского университета*</p>
          </div>
        </div>

        <div class="col">
          <div class="advantages__item">
            <div class="advantages__item-icon"><img src="img/svg/advantages_chat.svg" title="#"></div>
            <div class="advantages__item-title">Чат с персональным ассистентом</div>
            <p class="advantages__item-text">Личный ассистент ответит на любые вопросы, связанные с раком молочной железы, а также поможет подобрать клинику в Вашем городе.</p>
          </div>
        </div>

        <div class="col">
          <div class="advantages__item">
            <div class="advantages__item-icon"><img src="img/svg/advantages_star.svg" title="#"></div>
            <div class="advantages__item-title">Персонализированные статьи/видео на <nobr>тему РМЖ</nobr></div>
            <p class="advantages__item-text">Краткое тестирование поможет подобрать полезную информацию именно для Вашего конкретного случая.</p>
          </div>
        </div>

        <div class="col">
          <div class="advantages__item">
            <div class="advantages__item-icon"><img src="img/svg/advantages_mz.svg" title="#"></div>
            <div class="advantages__item-title">Ваш личный<br />дневник РМЖ</div>
            <p class="advantages__item-text">Отслеживайте симптомы заболевания и свое общее состояние при помощи специального дневника.</p>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col">
          <div class="advantages__footnote">
            * Для некоторых форм РМЖ предоставляется бесплатная первичная консультация с онкологами Сеченовского университета. Врачи ознакомятся с вашей клинической ситуацией, проведенными обследованиями, назначенной терапией и при необходимости порекомендуют, какие вопросы стоит обсудить со своим лечащим врачом.  
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col block__actions">
        <img src="img/svg/actions__logo.svg" alt="#" class="block__actions-img">
        <div class="block__actions-block">
          <div class="block__actions-title">
            Не опускайте руки!
          </div>
          <div class="block__actions-text">
            Вместе мы сможем победить страх перед диагнозом, изучить все нюансы заболевания и контролировать его течение.
          </div>
        </div>
        <a href="#" class="button__primary">
            Регистрация
        </a>
      </div>
    </div>


  </div>
</section>