<footer class="footer">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="footer__logo">

				</div>
				<a href="tel:88005004549" class="footer__phone">
					8 (800) 500-45-49
				</a>
				<div class="footer__text">
					Звонок бесплатный
				</div>
			</div>
			<div class="col">
				<div class="footer__title">
					Программа «Моё Здоровье»
				</div>
				<ul class="footer__list">
					<li class="footer__list-item">
						<a href="https://moezdorovie.ru/mz-program/" target="_blank" class="footer__list-link" title="О программе">О программе</a>
					</li>
					<li class="footer__list-item">
						<a href="https://moezdorovie.ru/contacts/" target="_blank" class="footer__list-link" title="Контакты">Контакты</a>
					</li>
					<li class="footer__list-item">
						<a href="https://moezdorovie.ru/rules-and-conditions/" target="_blank" class="footer__list-link" title="Правила и условия участия">Правила и условия участия</a>
					</li>
					<li class="footer__list-item">
						<a href="https://moezdorovie.ru/about/" target="_blank" class="footer__list-link" title="О компании ЦВ «Протек»">О компании ЦВ «Протек»</a>
					</li>
					<li class="footer__list-item">
						<a href="https://moezdorovie.ru/license/" target="_blank" class="footer__list-link" title="Лицензия">Лицензия</a>
					</li>
				</ul>
			</div>
			<div class="col">
				<div class="footer__title">
					Клиентам
				</div>
				<ul class="footer__list">
					<li class="footer__list-item">
						<a href="https://telemed.moezdorovie.ru/" target="_blank" class="footer__list-link" title="Телемедицинское приложение Моё Здоровье">Телемедицинское приложение «Моё Здоровье» </a>
					</li>
					<li class="footer__list-item">
						<a href="https://moezdorovie.ru/pochtabank/login?back=%2F" target="_blank" class="footer__list-link" title="Почта Банк">Почта Банк</a>
					</li>
					<li class="footer__list-item">
						<a href="https://moezdorovie.ru/stores/" target="_blank" class="footer__list-link" title="Аптеки">Аптеки</a>
					</li>
				</ul>
			</div>
			<div class="col">
				<ul class="footer__social">
					<li class="footer__social-item">
						<a href="https://vk.com/club189895130" class="footer__social-link" title="Мое здоровье - вконтакте" target="_blank">
							<svg>
								<use xlink:href="img/sprite.svg#vk_icon"></use>
							</svg>
						</a>
					</li>
					<li class="footer__social-item">
						<a href="https://ok.ru/group/55893509537934" class="footer__social-link" title="Мое здоровье - одноклассники" target="_blank">
							<svg>
								<use xlink:href="img/sprite.svg#ok_icon"></use>
							</svg>
						</a>
					</li>
					<li class="footer__social-item">
						<a href="https://zen.yandex.ru/id/5e4b845e70d2aa13e1bf3f7e" class="footer__social-link" title="Мое здоровье - Яндекс.Дзен" target="_blank">
							<svg>
								<use xlink:href="img/sprite.svg#zen_icon"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
