<header class="header">
    <div class="header__top">
      <div class="wrapper">
        <div class="row">
          <div class="col">
            <a href="https://moezdorovie.ru/" title="Мое здоровье" class="header__logo">
    
            </a>
            <a href="tel:8 (800) 500-45-49" title="Мое здоровье" class="header__phone">
              8 (800) 500-45-49
            </a>
          </div>
          <div class="col">
            <ul class="header__menu">
              <li class="header__menu-item"><a href="#advantages" title="Преимущества" class="header__menu-link">Преимущества</a></li>
              <li class="header__menu-item"><a href="#about" title="Описание" class="header__menu-link">Описание</a></li>
              <li class="header__menu-item"><a href="#reviews" title="Отзывы" class="header__menu-link">Отзывы</a></li>
            </ul>
          </div>
          <div class="col">
            <a href="https://mc.moezdorovie.ru/?bcdbanner" class="header__button" title="Мое здоровье - Зарегистрироваться" target="_blank">
              Зарегистрироваться
            </a>
          </div>
        </div>
      </div>
    </div>
  <div class="wrapper header__text">
    <div class="row">
      <div class="col">
        <h1 class="header__text-big">Бесплатное приложение поддержки пациенток с раком молочной железы</h1>
        <span class="header__text-small">Возьмите болезнь под контроль!</span>
        <a href="https://mc.moezdorovie.ru/?bcdbanner" class="button__primary" title="Мое здоровье - начать" target="_blank">
          Начать
        </a>
      </div>
    </div>
  </div>
</header>
