<section class="reviews" id="reviews">
  <div class="wrapper">
    <div class="row">
      <div class="col">
        <div class="main__title">
          Отзывы
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      <div class="col">
        <div class="swiper-container mySwiper">
          <div class="reviews__items swiper-wrapper">
            <div class="reviews__item swiper-slide">
              <div class="reviews__item-user">
                <div class="reviews__item-avatar">
                  <img src="img/user_avatar_viktoria.png" alt="#" class="reviews__item-image">
                </div>
                <div class="reviews__item-info">
                  <div class="reviews__item-name">
                    Виктория Я.
                  </div>
                  <div class="reviews__item-date">
                    11 апреля 2021
                  </div>
                </div>
              </div>
              <div class="reviews__item-text">
                Поменяли лечение с врачом благодаря записям в дневнике, попробуем сохранить, пожелайте мне удачи.
              </div>
            </div>

            <div class="reviews__item swiper-slide">
              <div class="reviews__item-user">
                <div class="reviews__item-avatar">
                  <img src="img/user_avatar_natalia.png" alt="#" class="reviews__item-image">
                </div>
                <div class="reviews__item-info">
                  <div class="reviews__item-name">
                    Наталья С.
                  </div>
                  <div class="reviews__item-date">
                    7 апреля 2021
                  </div>
                </div>
              </div>
              <div class="reviews__item-text">
                Спасибо за консультацию с онкологом!
              </div>
            </div>

            <div class="reviews__item swiper-slide">
              <div class="reviews__item-user">
                <div class="reviews__item-avatar">
                  <img src="img/user_avatar_anastacia.png" alt="#" class="reviews__item-image">
                </div>
                <div class="reviews__item-info">
                  <div class="reviews__item-name">
                    Анастасия Ч.
                  </div>
                  <div class="reviews__item-date">
                    13 апреля 2021
                  </div>
                </div>
              </div>
              <div class="reviews__item-text">
                Очень нравится возможность задавать вопросы ассистенту. Быстро отвечает, всегда толково, всем советую)
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>