

/*colors*/
$--color-white-100: rgb(255,255,255);
$--color-primary-100: rgb(21, 111, 240);
$--color-gray-100: rgb(211, 214, 221);
$--color-gray-150: rgb(100, 111, 135);
$--color-gray-200: rgb(243, 245, 247);
$--color-gray-250: rgb(238, 242, 244);
$--color-gray-500: rgb(34, 50, 84);
$--color-gray-600: rgb(20, 34, 61);


$--border-radius-4: 4px;
$--border-radius-10: 10px;
$--transition-settings: all 0.2s ease;
$--box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);

$--line-height-14: 14px;
$--line-height-18: 18px;
$--line-height-20: 20px;
$--line-height-24: 24px;
$--line-height-26: 26px;
$--line-height-28: 28px;
$--line-height-30: 30px;
$--line-height-32: 32px;
$--line-height-40: 40px;
$--line-height-44: 44px;
$--line-height-48: 48px;

$--font-size-12: 12px;
$--font-size-14: 14px;
$--font-size-15: 15px;
$--font-size-16: 16px;
$--font-size-17: 17px;
$--font-size-18: 18px;
$--font-size-19: 19px;
$--font-size-20: 20px;
$--font-size-22: 22px;
$--font-size-24: 24px;
$--font-size-26: 26px;
$--font-size-30: 30px;
$--font-size-32: 32px;
$--font-size-36: 36px;

$--font-weight-thin: 100;
$--font-weight-ultra-light: 200;
$--font-weight-light: 300;
$--font-weight-regular: 400;
$--font-weight-medium: 500;
$--font-weight-semi-bold: 600;
$--font-weight-bold: 700;
$--font-weight-extra-bold: 800;
$--font-weight-black: 900;