@import "global.scss";
@import "./components/header";

* {
    box-sizing: border-box
}

/*html {
    scroll-behavior: smooth;
}*/

html, body {
    font-family: 'Cera Round';
    font-weight: 400;
    @include reset();
  }

.wrapper {
    @include container();

    @media screen and (min-width: 600px) and (max-width: 1439px) { 
        padding-left: 45px;
        padding-right: 45px;
    }
}

.row {
    @include row-flex();   
    justify-content: space-between;
} 

.col {
    @include col();
    @include size-xs(12);
}

.button__primary {
    background: $--color-white-100;
    border: 1px solid $--color-gray-100;
    border-radius: 6px;
    padding: 9px 20px;
    font-size: 16px;
    line-height: 24px;
    color: $--color-primary-100;
    text-decoration: none;
    transition: $--transition-settings;
    text-align: center;
}

.main__title {
    color: $--color-gray-500;
    font-size: $--font-size-30;
    line-height: $--line-height-44;
    font-weight: $--font-weight-medium;
    text-align: center;

    @include before('md') { 
        font-size: $--font-size-24;
        line-height: $--line-height-32;
    }
}

.title-block.col {
    @include col();
    @include size-xs(12);
}



/*header*/
.header {
    width: 100%;
    min-height: 582px;
    background-color: #F58E9F;
    background-image: url(../img/header_image.png);
    background-size: cover;
    background-position: 50% 50%;

    @include before('md') {
        min-height: 472px;
    }

    @include after('xxl') {
        min-height: 682px;
    }

    &__top {
        padding: 12px 0;

        .col {
            @include size-xs(6);
            @include size-md(3);

            &:nth-child(1) {
                @include size-md(3);
            }

            &:nth-child(2) {
                @include size-md(6);

                @include before('lg') {
                    display: none;
                }
            }
            
        }
    }

    &__logo {
        background-image: url(../img/svg/mz_logo_header.svg);
        background-size: 191px 21px;
        width: 191px;
        height: 21px;
        display: block;
        margin-bottom: 5px;

        @include before('md') {
            margin-bottom: 8px;
            background-size: 159px 18px;
            width: 159px;
            height: 18px;
        }

        @include before('xs') {
            width: 110px;
            height: 12px;
            background-size: 110px 12px;
        }
    }

    &__phone {
        font-weight: $--font-weight-medium;
        font-size: $--font-size-12;
        color: $--color-white-100;
        text-decoration: none;
    }

    &__button {
        background: none;
        border-radius: $--border-radius-4;
        border: 1px solid $--color-white-100;
        padding: 9px 20px;
        font-size: $--font-size-16;
        line-height: $--line-height-24;
        color: $--color-white-100;
        text-decoration: none;
        transition: $--transition-settings;
        float: right;

        @include before('md') {
            font-size: $--font-size-14;
            line-height: $--line-height-20;
            padding: 7px 12px;
        }

        &:hover, &:focus {
            color: $--color-primary-100;
            background: $--color-white-100;
            transition: $--transition-settings;
        }
    }

    &__menu {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;

        &-item {
            margin-right: 24px;

            &:last-child {
                margin-right: 0;
            }
        }

        &-link {
            color: $--color-white-100;
            text-decoration: none;
            font-size: $--font-size-14;
            font-weight: $--font-weight-medium;
            line-height: $--line-height-20;
        }
    }

    &__text {

        padding-top: 90px;

        @include before('lg') {
            padding-top: 115px;
        }

        @include before('md') {
            padding-top: 80px;
        }

        @include before('sm') {
            padding-top: 37px;
        }

        .col {
            @include size-xs(12);
            @include size-lg(7);
        }
        
        &-big {
            font-size: $--font-size-36;
            font-weight: $--font-weight-medium;
            line-height: $--line-height-48;
            color: $--color-white-100;
            margin: 0;
            margin-bottom: 12px;
    
            @include before('lg') {
                text-align: center;
                margin-bottom: 8px;
            }

            @include before('xs') {
                font-size: $--font-size-26;
                line-height: $--line-height-40;
            }
        }

        &-small {
            font-size: $--font-size-24;
            line-height: $--line-height-32;
            display: block;
            color: $--color-white-100;
            margin-bottom: 46px;

            @include before('lg') { 
                text-align: center;
                font-size: $--font-size-16;
                line-height: $--line-height-24;
            }

            @include before('sm') { 
               margin-bottom: 20px;
            }
        }

        @include after('xxl') {
            padding-top: 150px;
        }
    }

    .button__primary {
        @include before('lg') {
            margin: auto;
            display: table;
        }   
    }
}



/*advantages*/
.advantages {
    background-color: $--color-gray-200;
    padding: 80px 0 60px;

    @include before('md') {
        padding: 60px 0;
    }

    .main__title {
        margin-bottom: 30px;

        @include before('md') {
            margin-bottom: 32px;
        }
    }

    &__item {
        padding: 20px;
        border-radius: $--border-radius-10;
        background: $--color-white-100;
        font-size: $--font-size-16;
        line-height: $--line-height-24;
        color: $--color-gray-150;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;

        @include before('md') {
            font-size: $--font-size-14;
            line-height: $--line-height-20;
        }

        @include after('lg') {
            box-shadow: $--box-shadow;
            padding: 20px 15px;
        }

        &-icon {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background-color: $--color-gray-250;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }

        &-title {
            color: $--color-gray-500;
            margin-bottom: 8px;
        }
    }

    &__items {

        width: 100%;

        @include before('lg') {
            flex-wrap: nowrap;
            scroll-snap-type: x mandatory;
            overscroll-behavior-x: contain;
            width: 100vw;
            overflow-x: auto;
            scroll-padding: 20px;
            justify-content: flex-start;
            scrollbar-width: none;
        }

        @media screen and (min-width: 600px) and (max-width: 1023px) {
            margin-left: -45px;
            margin-right: -45px;
        }
        
        &::after {
            content: '';
            width: 0.9375rem;
            height: 20px;
            display: block;
            flex-shrink: 0;
        }

        .col {
            @include size-xs(6);
            @include size-sm(4);
            @include size-lg(3);

            @include before('lg') {
                 min-width: 186px;
                 overflow: hidden;
                 scroll-snap-align: unset;
                 flex-shrink: 0;
                 margin-right: 30px;
                 margin-left: 0;
            }

            &:first-child {
                @include before('lg') {
                    margin-left: 45px;
                }
                @include before('sm') {
                    margin-left: 0.9375rem;
                }
             }

             &:last-child {
                margin-right: 0;
             }
        }

        
    }

    &__footnote {
        font-size: $--font-size-16;
        line-height: $--line-height-24;
        color: $--color-gray-150;
        margin: 30px 0 85px;

        @include before('md') {
            font-size: $--font-size-14;
            line-height: $--line-height-20;
            margin: 32px 0 60px;
        }
    }
}




.block__actions {
    background-color: #FB85A2;
    border-radius: $--border-radius-10;
    display: flex;
    align-items: center;
    padding: 33px;

    @include before('xl') {
        padding: 16px;
    }

    @include before('sm') {
        flex-wrap: wrap;
    }

    &-buttons {
        flex-basis: 100%;
    }

    &-block {
        margin-left: 30px;

        @include before('md') {
            margin-left: 0;
        }

        @include before('sm') {
            width: calc(100% - 90px);
        }

        @include after('xl') {
            max-width: 78%;
        }
    }

    &-title {
        font-size: $--font-size-24;
        line-height: $--line-height-32;
        color: $--color-white-100;
        margin-bottom: 8px;

        @include before('lg') {
            font-size: $--font-size-20;
            line-height: $--line-height-28;
        }

        @include before('md') {
            font-size: $--font-size-18;
            line-height: $--line-height-24;
        }

        @include before('sm') {
            font-size: $--font-size-16;
            line-height: $--line-height-24;
        }
    }

    &-text {
        font-size: $--font-size-14;
        line-height: $--line-height-20;
        color: $--color-white-100;

        @include after('lg') {
            max-width: 560px;
        }

        @include after('xl') {
            max-width: 600px;
        }
        
    }

    &-img {
        @include before('md') {
            width: 87px;
            height: 87px;
        }
    }

    .button__primary {
        width: auto;
        margin-left: auto;

        @include before('sm') {
            width: 100%;
            margin-top: 15px;
        }

        @include after('lg') {
            margin-right: 20px;
        }

        @include after('xl') {
            margin-right: 32px;
        }
    }
}



.about {
    padding: 80px 0 60px;
    background: #fff;

    @include before('md') {
        padding: 60px 0;
    }

    .main__title {
        text-align: left;
        margin-bottom: 40px;

        @include before('md') {
            text-align: center;
            margin-bottom: 8px;
        }
    }

    p {
        font-size: $--font-size-16;
        line-height: $--line-height-24;
        color: $--color-gray-500;
        margin-bottom: 23px;
    }

    &__text {
        position: relative;
        .col {
            @include size-xs(12);
            @include size-lg(7);
            @include xl(min-width, 665px);
        }
    }

    &__image {
        max-width: 250px;
        float: right;

        @include before('sm') {
            display: none;
        }

        @include after('lg') {
            position: absolute;
            right: -5px;
            top: -20px;
            max-width: 430px;
        }

        @include after('xl') {
            right: -20px;
            top: -95px;
        }

        &-mobail {
            max-width: 148px;
            display: none;
            @include before('sm') {
                display: block;
            }
        }

        
    }
}


.reviews {
    background-color: $--color-gray-200;
    padding: 80px 0 0;
    position: relative;

    @include after('lg') {
        min-height: 232px;
    }

    @include before('md') {
        padding: 60px 0 0;
    }

    &__items {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-top: 30px;

        @include before('lg') {
            flex-wrap: nowrap;
            scroll-snap-type: x mandatory;
            overscroll-behavior-x: contain;
            width: 100vw;
            overflow-x: auto;
            scroll-padding: 20px;
            scrollbar-width: none;
            margin-left: -15px;
        }

        @media screen and (min-width: 600px) and (max-width: 1023px) {
            margin-left: -45px;
            margin-right: -45px;
        }
        
        &::after {
            content: '';
            width: 0.9375rem;
            height: 20px;
            display: block;
            flex-shrink: 0;
        }
    }

    &__item {
        border-radius: 10px;
        background-color: $--color-white-100;
        padding: 24px;
        min-height: 224px;
        max-width: 350px;
        overflow: hidden;
        scroll-snap-align: unset;
        flex-shrink: 0;
        margin-right: 30px;
        margin-left: 0;

        @include before('lg') {

            &.swiper-slide {
                min-width: 240px;
                width: 43%;
            }
        }

        @include before('md') {

            &.swiper-slide {
                padding: 20px;
                width: 50%;

                &:first-child {
                    margin-left: 15px;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        @media screen and (min-width: 600px) and (max-width: 1023px) {

            &.swiper-slide {
                min-width: 240px;
                width: 40%;
    
                &:first-child {
                    margin-left: 45px;
                }
    
                &:last-child {
                    margin-right: 35px;
                }
            }
        }

        @include after('lg') {

            &.swiper-slide {
                min-width: 290px;
                width: 43%;
            }
        }

        &-user {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 16px;
        }

        &-info {
            display: flex;
            flex-direction: column;
        }

        &-avatar {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            margin-right: 16px;
        }

        &-image {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: block;
        }

        &-name {
            font-size: $--font-size-18;
            line-height: $--line-height-24;
            font-weight: $--font-weight-medium;
            color: $--color-gray-500;
            margin-bottom: 4px;

            @include before('md') {
                font-size: $--font-size-16;
            }
        }

        &-date {
            font-size: $--font-size-14;
            line-height: $--line-height-20;
            color: $--color-gray-150;
        }

        &-text {
            font-size: $--font-size-16;
            line-height: $--line-height-24;
            color: $--color-gray-500;

            @include before('md') {
                font-size: $--font-size-14;
                line-height: $--line-height-20;
            }
        }
    }

    @include after('lg') {
        .col {
            @include size-xs(12);
            @include size-lg(12);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:nth-child(2) {
                margin-top: 20px;
            }
        }

        .wrapper {
            min-height: 232px;
        }

        .main__title {
            text-align: left;
        }
    }

    // @include after('xl') {
    //     .col {
    //         &:nth-child(2) {
    //             width: calc(100% - 25%);
    //         }
    //     }
    // }

    // @include after('xxl') {
    //     .col {
    //         &:nth-child(2) {
    //             width: calc(100% - 30%);
    //         }
    //     }
    // }

    .swiper-container {
        @include before('lg') {
            overflow: inherit;
            margin-top: 30px;
        }
    }

    .swiper-wrapper {
        margin-top: 0;
        left: 0;

        @include before('lg') {
            transform: none !important;
            width: 100vw;
        }
    }

    .swiper-button-next, 
    .swiper-button-prev {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: $--color-white-100;
        border: 1px solid $--color-gray-250;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $--color-gray-500;
        position: relative;
        margin-top: 0;
        top: 0;
        left: 0;

        &::after {
            width: 16px;
            height: 16px;
            content: '';
            background-size: 16px 16px;
        }

        @include before('lg') {
            display: none;
        }
    }

    .swiper-button-next.swiper-button-disabled, 
    .swiper-button-prev.swiper-button-disabled {
        opacity: 1;
        &:after {
            opacity: 0.5;
        }
    }

    .swiper-button-next {
        margin-left: 10px;
        &::after {
            background-image: url(../img/slaider_next.svg);
        }
    }
    .swiper-button-prev {
        margin-left: auto;
        &::after {
            background-image: url(../img/slaider_prev.svg);
        }
    }

    .swiper-notification {
        display: none;
    }
}






.bottom__block {
    background-color: $--color-gray-200;
    padding: 80px 0 90px;

    @include before('md') {
        padding: 60px 0;
    }

    &-text {
        text-transform: uppercase;
        font-size: $--font-size-16;
        line-height: $--line-height-24;
        font-weight: $--font-weight-medium;
        color: $--color-gray-500;
        text-align: center;
        padding: 0 5%;

        @include before('lg') {
            font-size: $--font-size-14;
            line-height: $--line-height-20;
            padding: 0;
        }
    }
}


.information {
    background: #fff;
    padding: 80px 0 85px 40px;
    border-radius: $--border-radius-10;
    margin-bottom: 60px;
    align-items: center;

    @include before('md') {
        padding: 60px 24px;
        text-align: center;
        max-width: 100%;
        margin: 0 auto 60px;
        flex-direction: column-reverse;
    }

    @include after('md') {
        margin-left: 0;
        margin-right: 0;
    }

    @include after('xl') {
        padding-left: 80px;
    }

    .col {
        @include size-xs(12);
        @include size-md(6);
    }

    &__title {
        font-size: $--font-size-30;
        line-height: $--line-height-44;
        font-weight: $--font-weight-medium;
        margin-bottom: 4px;
        color: $--color-gray-500;

        @include before('lg') {
            font-size: $--font-size-24;
            line-height: $--line-height-32;
        }

        @include before('md') {
            font-size: $--font-size-18;
            line-height: $--line-height-24;
        }

        &-small {
            font-size: $--font-size-24;
            line-height: $--line-height-32;

            @include before('lg') {
                font-size: $--font-size-18;
                line-height: $--line-height-24;
            }
    
            @include before('md') {
                font-size: $--font-size-16;
                line-height: $--line-height-24;
            }
        }
    }

    &__text {
        font-size: $--font-size-16;
        line-height: $--line-height-24;
        color: $--color-gray-150;
        margin-bottom: 20px;

        @include before('md') {
            font-size: $--font-size-14;
            line-height: $--line-height-20;
        }
    }

    &__banner {
        background-color: #FB85A2;
        background-image: url(../img/svg/image_female.svg);
        background-repeat: no-repeat;
        background-size: 161px 204px;
        border-radius: 10px 0 0 10px;
        color: $--color-white-100;
        font-size: $--font-size-24;
        line-height: $--line-height-32;
        font-weight: $--font-weight-medium;
        text-align: left;
        padding: 59px 24px;
        background-position: 85% bottom;
        box-shadow: 0 2px 3px rgba(0,0,0,0.1);
        margin-left: -15px;
        max-width: 446px;
        float: right;
        width: 100%;

        @include before('lg') {
            background-position: 95% bottom;
            background-size: 118px 152px;
            font-size: $--font-size-20;
            line-height: $--line-height-28;
            padding: 38px 24px;
        }

        @include before('md') {
            border-radius: $--border-radius-10;
            background-position: 97% 0;
            background-size: 98px 131px;
            font-size: $--font-size-18;
            line-height: $--line-height-24;
            padding: 28px 20px;
            max-width: 257px;
            margin: 0 auto 30px;
            float: none;
        }

        @include after('md') {
            margin-right: -15px;
        }

        
    }

    .button__primary {
        background: $--color-primary-100;
        color: #fff;
        display: inline-block;
        margin-bottom: 20px;
    }
}


.footer {
    background-color: $--color-gray-600;
    padding: 70px 0 140px;

    @include before('lg') {
        padding: 40px 0 60px;
    }
 
    @include before('md') {
        padding: 32px 0 60px;
    }

    @include before('sm') {
        text-align: center;
    }

    &__logo {
        background-image: url(../img/svg/mz_logo_footer.svg);
        background-repeat: no-repeat;
        background-size: 160px 17px;
        width: 160px;
        height: 17px;
        margin-bottom: 22px;

        @include before('sm') {
            margin: 0 auto 22px;
        }
    }

    &__phone {
        background-image: url(../img/svg/footer_phone_icon.svg);
        background-repeat: no-repeat;
        background-size: 24px 24px;
        min-height: 24px;
        font-size: $--font-size-20;
        line-height: $--line-height-28;
        color: $--color-white-100;
        text-decoration: none;
        font-weight: $--font-weight-medium;
        padding-left: 35px;
        margin-bottom: 8px;
    }

    &__text {
        color: $--color-white-100;
        font-size: $--font-size-12;
        line-height: $--line-height-20;
        margin-bottom: 32px;
    }

    &__title {
        font-size: $--font-size-14;
        line-height: $--line-height-20;
        color: $--color-gray-150;
        margin-bottom: 20px;
    }

    &__list {

        @include before('sm') {
            margin-bottom: 24px;
        }

        &-item {
            margin-bottom: 12px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-link {
            color: $--color-gray-100;
            font-size: $--font-size-14;
            line-height: $--line-height-20;
            text-decoration: none;
            transition: $--transition-settings;
            

            &:hover, &:focus {
                color: $--color-white-100;
                transition: $--transition-settings;
            }
        }
    }

    &__social {
        display: flex;
        justify-content: center;

        @media screen and (min-width: 600px) and (max-width: 1023px) { 
            position: absolute;
            top: 0;
            right: 0;
        }

        @include after('lg') {
            justify-content: flex-end;
        }

        &-item {
            width: 34px;
            height: 34px;
            border-radius: 50%;
            margin-right: 12px;

            &:last-child {
                margin-right: 0;
            }
        }

        &-link {
            background-color: $--color-gray-500; 
            transition: $--transition-settings;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;

            svg {
                fill: $--color-white-100;
                width: 60%;
                height: 60%;
            }

            &:hover, &:focus {
                background-color: $--color-white-100; 
                transition: $--transition-settings;
                
                svg {
                    fill: $--color-gray-500;
                }
            }
        }
    }

    .row {
        position: relative;
    }

    .col {
        @include size-xs(12);
        @include size-sm(6);
        @include size-lg(3);

        &:first-child {
            @media screen and (min-width: 600px) and (max-width: 1023px) { 
                @include size-sm(12);
            }
        }
    }


}